<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<data>
	//5UAGgAcgBvAHcAYgBhAGMAawA=
	</data>
	<key>name-string</key>
	<string>Throwback</string>
	<key>terminal-color-ansi-black-bold-rgb</key>
	<array>
		<real>0.48235294222831726</real>
		<real>0.48235294222831726</real>
		<real>0.48235294222831726</real>
	</array>
	<key>terminal-color-ansi-black-normal-rgb</key>
	<array>
		<real>0.24313725531101227</real>
		<real>0.24313725531101227</real>
		<real>0.24313725531101227</real>
	</array>
	<key>terminal-color-ansi-blue-bold-rgb</key>
	<array>
		<real>0.59215688705444336</real>
		<real>0.72156864404678345</real>
		<real>0.7137255072593689</real>
	</array>
	<key>terminal-color-ansi-blue-normal-rgb</key>
	<array>
		<real>0.36862745881080627</real>
		<real>0.65882354974746704</real>
		<real>0.80000001192092896</real>
	</array>
	<key>terminal-color-ansi-cyan-bold-rgb</key>
	<array>
		<real>0.59215688705444336</real>
		<real>0.72156864404678345</real>
		<real>0.7137255072593689</real>
	</array>
	<key>terminal-color-ansi-cyan-normal-rgb</key>
	<array>
		<real>0.60392159223556519</real>
		<real>1</real>
		<real>0.88627451658248901</real>
	</array>
	<key>terminal-color-ansi-green-bold-rgb</key>
	<array>
		<real>0.72156864404678345</real>
		<real>1</real>
		<real>0.70588237047195435</real>
	</array>
	<key>terminal-color-ansi-green-normal-rgb</key>
	<array>
		<real>0.38431373238563538</real>
		<real>0.88235294818878174</real>
		<real>0.43137255311012268</real>
	</array>
	<key>terminal-color-ansi-magenta-bold-rgb</key>
	<array>
		<real>0.96470588445663452</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>terminal-color-ansi-magenta-normal-rgb</key>
	<array>
		<real>0.67450982332229614</real>
		<real>0.45098039507865906</real>
		<real>0.71764707565307617</real>
	</array>
	<key>terminal-color-ansi-red-bold-rgb</key>
	<array>
		<real>0.98823529481887817</real>
		<real>0.50196081399917603</real>
		<real>0.035294119268655777</real>
	</array>
	<key>terminal-color-ansi-red-normal-rgb</key>
	<array>
		<real>0.98823529481887817</real>
		<real>0.39215686917304993</real>
		<real>0.44313725829124451</real>
	</array>
	<key>terminal-color-ansi-white-bold-rgb</key>
	<array>
		<real>1</real>
		<real>1</real>
		<real>1</real>
	</array>
	<key>terminal-color-ansi-white-normal-rgb</key>
	<array>
		<real>0.30588236451148987</real>
		<real>0.30588236451148987</real>
		<real>0.30588236451148987</real>
	</array>
	<key>terminal-color-ansi-yellow-bold-rgb</key>
	<array>
		<real>0.98823529481887817</real>
		<real>1</real>
		<real>0.70980393886566162</real>
	</array>
	<key>terminal-color-ansi-yellow-normal-rgb</key>
	<array>
		<real>0.90980392694473267</real>
		<real>0.82352942228317261</real>
		<real>0.54117649793624878</real>
	</array>
	<key>terminal-color-blinking-background-rgb</key>
	<array>
		<real>0.094117648899555206</real>
		<real>0.094117648899555206</real>
		<real>0.094117648899555206</real>
	</array>
	<key>terminal-color-blinking-foreground-rgb</key>
	<array>
		<real>0.97254902124404907</real>
		<real>1</real>
		<real>0.64313727617263794</real>
	</array>
	<key>terminal-color-bold-background-rgb</key>
	<array>
		<real>0.0</real>
		<real>0.0</real>
		<real>0.0</real>
	</array>
	<key>terminal-color-bold-foreground-rgb</key>
	<array>
		<real>0.97254902124404907</real>
		<real>1</real>
		<real>0.64313727617263794</real>
	</array>
	<key>terminal-color-cursor-background-rgb</key>
	<array>
		<real>0.0</real>
		<real>0.75</real>
		<real>0.0</real>
	</array>
	<key>terminal-color-matte-background-rgb</key>
	<array>
		<real>0.20000000000000001</real>
		<real>0.20000000000000001</real>
		<real>0.20000000000000001</real>
	</array>
	<key>terminal-color-normal-background-rgb</key>
	<array>
		<real>0.0</real>
		<real>0.0</real>
		<real>0.0</real>
	</array>
	<key>terminal-color-normal-foreground-rgb</key>
	<array>
		<real>0.92156863212585449</real>
		<real>0.92549020051956177</real>
		<real>0.70196080207824707</real>
	</array>
	<key>terminal-font-family</key>
	<string>Source Code Pro Regular</string>
	<key>terminal-font-size-points</key>
	<integer>16</integer>
</dict>
</plist>
