

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Source Code Pro Light";
    font-size: 15px;
    line-height: 1.3;
    color: #F2F0CD;
    background-color: #000000;
    margin: 10px 13px 10px 13px;
}
strong {
    font-family: "Source Code Pro Regular";
    font-weight: normal;
    color: #64B68A;
}
em {
    font-family: "Source Code Pro Light";
    font-weight: normal;
    font-style: normal;
    color: #64B68A;
}

table {
	margin: 10px 0 15px 0;
	border-collapse: collapse;
}
table tr:nth-child(2n) {
    background-color: #06181B;
}
td,th {
	border: 1px solid #3C3C3E;
	padding: 3px 10px;
}
th {
	padding: 5px 10px;
    color: #B3D8FD;
    background-color: #06181B;
}
a {
    color: #64B68A;
}
a:hover {
    color: #64B68A;
    text-decoration: none;
}
a img {
    border: none;
}
p {
    margin-bottom: 10px;
    margin-bottom: 10px;
}
img {
     background-color: #383838;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #54B2BC;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 8px;
    font-weight: normal;
}
h1 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 26px;
    line-height: 32px;
    color: #43919A;
    font-family: "Source Code Pro Regular";
}
h2 {
    font-size: 20px;
    margin-bottom: 16px;
    font-family: "Source Code Pro Regular";

}
h3 {
    line-height: 18px;
    font-size: 16px;
}
h4 {
    line-height: 18px;
    font-size: 16px;
}
h5 {
    line-height: 18px;
    font-size: 16px;
}
h6 {
    line-height: 18px;
    font-size: 16px;
}
ul, ol {
    padding-left: 30px;
    margin-top: 0px;
    padding-top: 0px;
}
hr {
    margin: 0 0 19px;
    border: 0;
    border-bottom: 1px solid #F2F0CD;
}
blockquote {
    padding: 13px 13px 21px 15px;
    margin-bottom: 18px;
    font-family:georgia,serif;
    font-style: italic;
}
blockquote:before {
    content:"\201C";
    font-size:40px;
    margin-left:-10px;
    font-family:georgia,serif;
    color:#F2F0CD;
}
blockquote p {
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 0;
}
code, pre {
    font-family: "Source Code Pro Light"
}
code {
	color: #FFF8A1;
    padding: 1px 3px;
    font-size: 16px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
pre {
    display: block;
    padding: 16px;
    margin: 0 0 18px;
    line-height: 16px;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 1.1;

    border: 1px solid #A4C3C2;
    background-color: #06181B;
    color: #116CD6
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-radius: 3px;
}
pre code {
    background-color: #06181B;
    color: #F2F0CD;
    padding: 0;
}
sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
}
* {
	-webkit-print-color-adjust: exact;
}
@media screen and (min-width: 914px) {
    body {
        width: 854px;
        margin:10px auto;
    }
}
@media print {
	body,code,pre code,h1,h2,h3,h4,h5,h6 {
		color: black;
	}
	table, pre {
		page-break-inside: avoid;
	}
}